.Footer {
    padding: 40px 20px;
    text-decoration: none;
    color: #757575;
}

.Footer .App-link {
    color: #212121;
}

.Footer .App-link:hover {
    color: rgba(108, 65, 233, .7);
}

.App-logo {
    width: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}